{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Animals!</title>
  </head>
  <body>
    <header>
      <h1>{% block header %}{% endblock header %}</h1>
      <nav>
        <a href="{% url 'animals-home' %}">Animals</a>
        <a href="{% url 'animals-about' %}">About</a>
      </nav>
    </header>
    <main>{% block content %}{% endblock content %}</main>
  </body>
</html>
